*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.xdv
*.tdo
*.listing
.DS_Store
*.synctex(busy)
_minted-paper
_minted-*
.vscode
*.bcf
*.run.xml
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*-SAVE-ERROR

# Install fonts, these are from Adobe Fonts :( [licensed]
fonts/SolitaireMVBPro*
fonts/Lemance-*